.edge
	background-color: #F7F5FA
	padding-top: 80px
	padding-bottom: 100px
	&-title
		+thin
		line-height: 50px
		font-size: 40px
		text-align: center
		letter-spacing: -0.02em
		margin-bottom: 60px
	&-subtitle
		+reg
		line-height: 30px
		font-size: 20px
		margin-bottom: 50px
	&-text
		+roboto
		font-size: 16px
		line-height: 26px
		color: #4E4D53
		max-width: 320px
		position: relative
		&__wide
			max-width: 350px
		&:before
			content: ''
			position: absolute
			width: 24px
			height: 2px
			background-color: #F47821
			top: -30px
	&-box
		display: flex
		justify-content: space-between
		margin-bottom: 43px
		&__item
			flex-basis: 32%
@media (max-width: 991px)
	.edge
		padding-top: 58px
		padding-bottom: 60px
		&-box
			flex-direction: column
			align-items: center
			margin-bottom: 0
			&__item
				margin-bottom: 40px
@media (max-width: 580px)
	.edge
		&-title
			font-size: 30px
@media (max-width: 430px)
	.edge
		&-title
			font-size: 26px
