.looklike
	transform: translateY(-1%)
	background: #ffffff
	padding-top: 50px
	padding-bottom: 75px
	&-title
		+reg
		font-size: 48px
		line-height: 105px
		text-align: center
		letter-spacing: -0.02em
		color: #222222
	&-text
		+roboto
		font-size: 16px
		line-height: 26px
		color: #4E4D53
		max-width: 773px
		margin: auto
		margin-bottom: 28px
@media (max-width: 991px)
 .looklike
		padding-top: 33px
		padding-bottom: 75px
		&-text
			padding: 0 20px
@media (max-width: 550px)
	.looklike
		&-title
			font-size: 36px